.main {
    display: flex;
  }
  
  .centerDiv {
    width: 55%;
    background-color: white;
    display: flex;
    margin-left: 34%;
    margin-top: 5%;
    height: 100%;
    flex-direction: column;
  }
  
  .centerDivHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
  }
  
  .centerDivHeader ul a {
    background-color: #ffffff;
  }
  
  .centerDivHeader ul {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .leaderCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
  }
  
  .leaderCont h3 {
    background-color: lavender;
    color: gray;
  }
  
  /* leader board grid boxes */
  
  .contentBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    background-color: lavender;
  }
  
  .boxes {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150%;
    border-radius: 3mm;
    height: 85px;
    margin: 6%;
  }
  
  .avt {
    margin-top: 5%;
    margin: 5%;
  }
  .profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 80%;
    margin: 0%;
    margin-top: -4px;
    align-items: center;
  }
  
  .profile h5 {
    background-color: #ffffff;
  }
  .profile table {
    background-color: #ffffff;
  }
  .profile th {
    background-color: #ffffff;
    color: darkgrey;
    font-size: 14px;
  }
  
  .profile td {
    background-color: #ffffff;
    font-size: 14px;
  }
  
  .point {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: flex-end;
    align-items: center;
    margin-top: 18%;
    font-size: 13px;
  }
  
  .point h4 {
    background-color: #ffffff;
  }
  
  .pointicon {
    background-color: #ffffff;
  }
  
  /*  media queries */
  
  @media only screen and (max-width: 300px) {
    .main {
      display: flex;
      flex-direction: column;
    }
  
    .centerDiv {
      width: 100%;
      background-color: white;
      display: flex;
      margin-left: 0%;
      margin-top: 20%;
      height: 100%;
      flex-direction: column;
    }
  
    .centerDivHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #ffffff;
      width: 70%;
      margin-left: 12%;
    }
    .avatar {
      width: 100%;
      height: 60%;
    }
  
    .centerDivHeader ul a {
      background-color: #ffffff;
      font-size: 3px;
    }
  
    .centerDivHeader ul {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 8%;
    }
  
    .leaderCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lavender;
    }
  
    .leaderCont h3 {
      background-color: lavender;
      color: gray;
      font-size: 10px;
      margin-left: 3%;
    }
  
    /* leader board grid boxes */
  
    .contentBoxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      background-color: lavender;
    }
  
    .boxes {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 120%;
      border-radius: 3mm;
      height: 85px;
      margin: 6%;
      margin-left: 7%;
    }
  
    .avt {
      margin-top: 5%;
      margin: 5%;
    }
    .profile {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 80%;
      margin: 0%;
      align-items: center;
    }
  
    .profile h5 {
      background-color: #ffffff;
    }
    .profile table {
      background-color: #ffffff;
    }
    .profile th {
      background-color: #ffffff;
      color: darkgrey;
      font-size: 14px;
    }
  
    .profile td {
      background-color: #ffffff;
      font-size: 14px;
    }
  
    .point {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      justify-content: flex-end;
      align-items: center;
      margin-top: 18%;
      font-size: 13px;
    }
  
    .point h4 {
      background-color: #ffffff;
    }
  
    .pointicon {
      background-color: #ffffff;
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    .main {
      display: flex;
      flex-direction: column;
    }
  
    .centerDiv {
      width: 100%;
      background-color: white;
      display: flex;
      margin-left: 0%;
      margin-top: 20%;
      height: 100%;
      flex-direction: column;
    }
  
    .centerDivHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #ffffff;
      width: 70%;
      margin-left: 12%;
    }
    .avatar {
      width: 100%;
      height: 60%;
    }
  
    .centerDivHeader ul a {
      background-color: #ffffff;
      font-size: 3px;
    }
  
    .centerDivHeader ul {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 8%;
    }
  
    .leaderCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lavender;
    }
  
    .leaderCont h3 {
      background-color: lavender;
      color: gray;
      font-size: 10px;
      margin-left: 3%;
    }
  
    /* leader board grid boxes */
  
    .contentBoxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      background-color: lavender;
    }
  
    .boxes {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 120%;
      border-radius: 3mm;
      height: 85px;
      margin: 6%;
      margin-left: 7%;
    }
  
    .avt {
      margin-top: 5%;
      margin: 5%;
    }
    .profile {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 80%;
      margin: 0%;
      align-items: center;
    }
  
    .profile h5 {
      background-color: #ffffff;
    }
    .profile table {
      background-color: #ffffff;
      margin-top: -8px;
    }
    .profile th {
      background-color: #ffffff;
      color: darkgrey;
      font-size: 14px;
    }
  
    .profile td {
      background-color: #ffffff;
      font-size: 14px;
    }
  
    .point {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30%;
      font-size: 13px;
    }
  
    .point h4 {
      background-color: #ffffff;
    }
  
    .pointicon {
      background-color: #ffffff;
    }
  }
  @media (min-width: 500px) and (max-width: 800px) {
    .main {
      display: flex;
      flex-direction: column;
    }
  
    .centerDiv {
      width: 80%;
      background-color: white;
      display: flex;
      margin-left: 9%;
      margin-top: 20%;
      height: 100%;
      flex-direction: column;
    }
  
    .centerDivHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #ffffff;
    }
  
    .centerDivHeader ul a {
      background-color: #ffffff;
    }
  
    .centerDivHeader ul {
      background-color: #ffffff;
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 7px;
    }
  
    .leaderCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lavender;
    }
  
    .leaderCont h3 {
      background-color: lavender;
      color: gray;
      font-size: 12px;
      margin-left: 3%;
    }
  
    /* leader board grid boxes */
  
    .contentBoxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      background-color: lavender;
    }
  
    .boxes {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 150%;
      border-radius: 3mm;
      height: 85px;
      margin: 6%;
      margin-left: 10%;
    }
  
    .avt {
      margin-top: 5%;
      margin: 5%;
    }
    .profile {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 80%;
      margin: 0%;
      align-items: center;
    }
  
    .profile h5 {
      background-color: #ffffff;
    }
    .profile table {
      background-color: #ffffff;
    }
    .profile th {
      background-color: #ffffff;
      color: darkgrey;
      font-size: 14px;
    }
  
    .profile td {
      background-color: #ffffff;
      font-size: 14px;
    }
  
    .point {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      justify-content: flex-end;
      align-items: center;
      margin-top: 18%;
      font-size: 13px;
    }
  
    .point h4 {
      background-color: #ffffff;
    }
  
    .pointicon {
      background-color: #ffffff;
    }
  }
  
  @media (min-width: 800px) and (max-width: 1050px) {
    .main {
      display: flex;
    }
  
    .centerDiv {
      width: 65%;
      background-color: white;
      display: flex;
      margin-left: 22%;
      margin-top: 20%;
      height: 100%;
      flex-direction: column;
    }
  
    .centerDivHeader {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #ffffff;
    }
  
    .centerDivHeader ul a {
      background-color: #ffffff;
    }
  
    .centerDivHeader ul {
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 12px;
    }
  
    .leaderCont {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: lavender;
    }
  
    .leaderCont h3 {
      background-color: lavender;
      color: gray;
    }
  
    /* leader board grid boxes */
  
    .contentBoxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10%;
      background-color: lavender;
    }
  
    .boxes {
      display: flex;
      flex-direction: row;
      background-color: #ffffff;
      box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 150%;
      border-radius: 3mm;
      height: 85px;
      margin: 6%;
    }
  
    .avt {
      margin-top: 5%;
      margin: 5%;
    }
    .profile {
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 80%;
      margin: 0%;
      align-items: center;
    }
  
    .profile h5 {
      background-color: #ffffff;
    }
    .profile table {
      background-color: #ffffff;
    }
    .profile th {
      background-color: #ffffff;
      color: darkgrey;
      font-size: 14px;
    }
  
    .profile td {
      background-color: #ffffff;
      font-size: 14px;
    }
  
    .point {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      justify-content: flex-end;
      align-items: center;
      margin-top: 18%;
      font-size: 13px;
    }
  
    .point h4 {
      background-color: #ffffff;
    }
  
    .pointicon {
      background-color: #ffffff;
    }
  }